@import url(https://fonts.googleapis.com/css?family=Lobster:400);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);





body {
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Lobster', display;
  font-size: 2.6rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4.16rem;
}
.display-2 {
  font-family: 'Lobster', display;
  font-size: 1.4rem;
}
.display-2 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Amatic SC', handwriting;
  font-size: 2.5rem;
}
.display-5 > .mbr-iconfont {
  font-size: 4rem;
}
.display-7 {
  font-family: 'Comfortaa', display;
  font-size: 1.2rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.08rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #fcf3ee !important;
}
.bg-success {
  background-color: #073b4c !important;
}
.bg-info {
  background-color: #f7ed4a !important;
}
.bg-warning {
  background-color: #edf1f2 !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #fcf3ee;
  border-color: #fcf3ee;
  color: #c85e23;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #c85e23;
  background-color: #f1c5ad;
  border-color: #f1c5ad;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #c85e23 !important;
  background-color: #f1c5ad !important;
  border-color: #f1c5ad !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366;
  border-color: #ff3366;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff;
  background-color: #e50039;
  border-color: #e50039;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #f7ed4a;
  border-color: #f7ed4a;
  color: #3f3c03;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #3f3c03;
  background-color: #eadd0a;
  border-color: #eadd0a;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success,
.btn-success:active {
  background-color: #073b4c;
  border-color: #073b4c;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff;
  background-color: #010506;
  border-color: #010506;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #010506 !important;
  border-color: #010506 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #edf1f2;
  border-color: #edf1f2;
  color: #5e7b82;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #5e7b82;
  background-color: #c1ced2;
  border-color: #c1ced2;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #5e7b82 !important;
  background-color: #c1ced2 !important;
  border-color: #c1ced2 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374;
  border-color: #b1a374;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff;
  background-color: #8b7d4e;
  border-color: #8b7d4e;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #808080;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #edb697;
  color: #edb697;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #c85e23;
  background-color: #fcf3ee;
  border-color: #fcf3ee;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #c85e23 !important;
  background-color: #fcf3ee !important;
  border-color: #fcf3ee !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #073b4c;
  border-color: #073b4c;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #073b4c !important;
  border-color: #073b4c !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #b2c3c7;
  color: #b2c3c7;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #5e7b82;
  background-color: #edf1f2;
  border-color: #edf1f2;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #5e7b82 !important;
  background-color: #edf1f2 !important;
  border-color: #edf1f2 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #fcf3ee !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #073b4c !important;
}
.text-info {
  color: #f7ed4a !important;
}
.text-warning {
  color: #edf1f2 !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #edb697 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #d2c609 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #b2c3c7 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #f7ed4a;
}
.alert-warning {
  background-color: #edf1f2;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-gallery-filter li.active .btn {
  background-color: #fcf3ee;
  border-color: #fcf3ee;
  color: #da692b;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #fcf3ee;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #4ac6ee;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Comfortaa', display;
  font-size: 1.2rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #fcf3ee;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #fcf3ee;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #fcf3ee;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #fcf3ee;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #fcf3ee;
}
/* Headers*/
.offset-1 {
  margin-left: 8.33333%;
}
.offset-2 {
  margin-left: 16.66667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.33333%;
}
.offset-5 {
  margin-left: 41.66667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.33333%;
}
.offset-8 {
  margin-left: 66.66667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.33333%;
}
.offset-11 {
  margin-left: 91.66667%;
}
@media (min-width: 576px) {
  .offset-sm-0 {
    margin-left: 0%;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) {
  .offset-md-0 {
    margin-left: 0%;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 992px) {
  .offset-lg-0 {
    margin-left: 0%;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 1200px) {
  .offset-xl-0 {
    margin-left: 0%;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}
.navbar-toggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.navbar-toggler-left {
  position: absolute;
  left: 1rem;
}
.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}
@media (max-width: 575px) {
  .navbar-toggleable .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 576px) {
  .navbar-toggleable {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable .navbar-toggler {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-toggleable-sm .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-sm > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar-toggleable-sm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-sm > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-sm .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-sm .navbar-toggler {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar-toggleable-md .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-md > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  .navbar-toggleable-md {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-md > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-md .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-md .navbar-toggler {
    display: none;
  }
}
@media (max-width: 1199px) {
  .navbar-toggleable-lg .navbar-nav .dropdown-menu {
    position: static;
    float: none;
  }
  .navbar-toggleable-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .navbar-toggleable-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-toggleable-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
  }
  .navbar-toggleable-lg > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .navbar-toggleable-lg .navbar-collapse {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    width: 100%;
  }
  .navbar-toggleable-lg .navbar-toggler {
    display: none;
  }
}
.navbar-toggleable-xl {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-nav .dropdown-menu {
  position: static;
  float: none;
}
.navbar-toggleable-xl > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-toggleable-xl .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.navbar-toggleable-xl .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}
.navbar-toggleable-xl > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-toggleable-xl .navbar-collapse {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
}
.navbar-toggleable-xl .navbar-toggler {
  display: none;
}
.card-img {
  width: auto;
}
.menu .navbar.collapsed:not(.beta-menu) {
  flex-direction: column;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.cid-qHzRbJXEug .navbar {
  background: #ffffff;
  transition: none;
  min-height: 77px;
  padding: .5rem 0;
}
.cid-qHzRbJXEug .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-qHzRbJXEug a {
  font-style: normal;
}
.cid-qHzRbJXEug .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-qHzRbJXEug .nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qHzRbJXEug .nav-item:focus,
.cid-qHzRbJXEug .nav-link:focus {
  outline: none;
}
.cid-qHzRbJXEug .btn {
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qHzRbJXEug .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qHzRbJXEug .menu-logo {
  margin-right: auto;
}
.cid-qHzRbJXEug .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qHzRbJXEug .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qHzRbJXEug .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qHzRbJXEug .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qHzRbJXEug .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-qHzRbJXEug .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qHzRbJXEug .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qHzRbJXEug .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qHzRbJXEug .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qHzRbJXEug .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qHzRbJXEug .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qHzRbJXEug .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qHzRbJXEug .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qHzRbJXEug .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qHzRbJXEug .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qHzRbJXEug .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qHzRbJXEug .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qHzRbJXEug .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qHzRbJXEug .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qHzRbJXEug .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qHzRbJXEug .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-qHzRbJXEug .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qHzRbJXEug button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qHzRbJXEug button.navbar-toggler:focus {
  outline: none;
}
.cid-qHzRbJXEug button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #5b686b;
}
.cid-qHzRbJXEug button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qHzRbJXEug button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qHzRbJXEug button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qHzRbJXEug button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qHzRbJXEug nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qHzRbJXEug nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qHzRbJXEug nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qHzRbJXEug nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qHzRbJXEug .collapsed.navbar-expand {
  flex-direction: column;
}
.cid-qHzRbJXEug .collapsed .btn {
  display: flex;
}
.cid-qHzRbJXEug .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qHzRbJXEug .collapsed .navbar-collapse.collapsing,
.cid-qHzRbJXEug .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qHzRbJXEug .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qHzRbJXEug .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qHzRbJXEug .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qHzRbJXEug .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qHzRbJXEug .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qHzRbJXEug .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qHzRbJXEug .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qHzRbJXEug .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qHzRbJXEug .collapsed button.navbar-toggler {
  display: block;
}
.cid-qHzRbJXEug .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-qHzRbJXEug .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qHzRbJXEug .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qHzRbJXEug .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qHzRbJXEug .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qHzRbJXEug .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qHzRbJXEug.navbar-expand {
    flex-direction: column;
  }
  .cid-qHzRbJXEug img {
    height: 3.8rem !important;
  }
  .cid-qHzRbJXEug .btn {
    display: flex;
  }
  .cid-qHzRbJXEug button.navbar-toggler {
    display: block;
  }
  .cid-qHzRbJXEug .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-qHzRbJXEug .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qHzRbJXEug .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qHzRbJXEug .navbar-collapse.collapsing,
  .cid-qHzRbJXEug .navbar-collapse.show {
    display: block !important;
  }
  .cid-qHzRbJXEug .navbar-collapse.collapsing .navbar-nav,
  .cid-qHzRbJXEug .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qHzRbJXEug .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qHzRbJXEug .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qHzRbJXEug .navbar-collapse.collapsing .navbar-buttons,
  .cid-qHzRbJXEug .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qHzRbJXEug .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qHzRbJXEug .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qHzRbJXEug .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qHzRbJXEug .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qHzRbJXEug .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qHzRbJXEug .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-qHzRbJXEug .menu-logo {
    flex-shrink: 0;
  }
}
.cid-qHzRbJXEug .navbar-collapse {
  flex-basis: auto;
}
.cid-qHzRbJXEug .nav-link:hover,
.cid-qHzRbJXEug .dropdown-item:hover {
  color: #767676 !important;
}
.cid-qHzJKm3dGn {
  padding-top: 45px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/calc-1-2000x1500.jpg");
}
.cid-qHzJKm3dGn H1 {
  text-align: left;
  color: #8e1e0a;
}
.cid-qHzJKm3dGn H3 {
  color: #ec6019;
  text-align: left;
}
.cid-qHzJKm3dGn P {
  text-align: center;
  color: #efefef;
}
.cid-qHzJKm3dGn B {
  color: #f0f6fa;
}
.cid-qJtzsMuTRx {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qJtzsMuTRx .mbr-section-subtitle {
  color: #767676;
}
.cid-qJtzsMuTRx B {
  color: #232323;
}
.cid-qKBknLqVhz {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fcf1e7;
}
.cid-qKBknLqVhz .card-box {
  background-color: #ffffff;
  padding: 2rem;
}
.cid-qKBknLqVhz h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-qKBknLqVhz p {
  color: #767676;
  text-align: left;
}
.cid-qKBknLqVhz .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-qKBknLqVhz .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-qKBknLqVhz .card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.cid-qKBknLqVhz .card-title {
  color: #ef7f14;
  text-align: center;
}
.cid-qKBkKc5aHC {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fcf1e7;
}
.cid-qKBkKc5aHC .card-box {
  background-color: #ffffff;
  padding: 2rem;
}
.cid-qKBkKc5aHC h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-qKBkKc5aHC p {
  color: #767676;
  text-align: left;
}
.cid-qKBkKc5aHC .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-qKBkKc5aHC .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-qKBkKc5aHC .card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.cid-qKBkKc5aHC .card-title {
  color: #ef7f14;
}
.cid-qKBmzziEhz {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fcf1e7;
}
.cid-qKBmzziEhz .card-box {
  background-color: #ffffff;
  padding: 2rem;
}
.cid-qKBmzziEhz h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-qKBmzziEhz p {
  color: #767676;
  text-align: left;
}
.cid-qKBmzziEhz .card-wrapper {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-qKBmzziEhz .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-qKBmzziEhz .card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.cid-qKBmzziEhz .card-title {
  color: #ef7f14;
}
.cid-qJtz10TS5j {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #cccccc;
}
.cid-qJtz10TS5j H2 {
  color: #232323;
}
.cid-qJtAwg1i07 {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-qJtAwg1i07 .counter-container {
  color: #767676;
}
.cid-qJtAwg1i07 .counter-container ol {
  margin-bottom: 0;
}
.cid-qJtAwg1i07 .counter-container ol li {
  margin-bottom: 1rem;
}
.cid-qJtAwg1i07 .mbr-text B {
  color: #767676;
}
.cid-qJtEYUGYg1 {
  padding-top: 60px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/ruble-2896789-1921-1920x1078.jpg");
}
.cid-qJtHaZvMIf {
  padding-top: 0px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/mbr-720x1080.jpg");
}
.cid-qJtHaZvMIf .list-group-item {
  padding: .75rem 3.25rem;
}
.cid-qJtHaZvMIf .plan {
  word-break: break-word;
  position: relative;
  max-width: 300px;
  padding-right: 0;
  padding-left: 0;
  color: #767676;
}
.cid-qJtHaZvMIf .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
}
.cid-qJtHaZvMIf .plan .list-group-item::after {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 2px;
  content: "";
  background-color: #eaeaea;
}
.cid-qJtHaZvMIf .plan .list-group-item:last-child::after {
  display: none;
}
.cid-qJtHaZvMIf .plan.favorite {
  background-color: #fff;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
}
.cid-qJtHaZvMIf .plan-header {
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-qJtHaZvMIf .price-figure {
  font-weight: 700;
  color: #04a343;
}
.cid-qJtHaZvMIf .price-value {
  font-weight: 700;
  vertical-align: top;
}
@media (max-width: 550px) {
  .cid-qJtHaZvMIf .price-figure {
    font-size: 4.25rem;
  }
}
.cid-qJtHaZvMIf .plan-title {
  color: #053a49;
}
.cid-qJtHaZvMIf SPAN {
  text-align: left;
  color: #04a343;
}
.cid-qJtHaZvMIf .price-term {
  color: #04a343;
}
.cid-qJtHaZvMIf UL {
  text-align: left;
}
.cid-qJtHaZvMIf .price-term B {
  color: #04a343;
}
.cid-qJtHaZvMIf LI {
  color: #810d0d;
}
.cid-qK7SCEtyUb {
  padding-top: 0px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/mbr-720x1080.jpg");
}
.cid-qK7SCEtyUb .list-group-item {
  padding: .75rem 3.25rem;
}
.cid-qK7SCEtyUb .plan {
  word-break: break-word;
  position: relative;
  max-width: 300px;
  padding-right: 0;
  padding-left: 0;
  color: #767676;
}
.cid-qK7SCEtyUb .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
}
.cid-qK7SCEtyUb .plan .list-group-item::after {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 2px;
  content: "";
  background-color: #eaeaea;
}
.cid-qK7SCEtyUb .plan .list-group-item:last-child::after {
  display: none;
}
.cid-qK7SCEtyUb .plan.favorite {
  background-color: #fff;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.07);
}
.cid-qK7SCEtyUb .plan-header {
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-qK7SCEtyUb .price-figure {
  font-weight: 700;
  color: #04a343;
  text-align: left;
}
.cid-qK7SCEtyUb .price-value {
  font-weight: 700;
  vertical-align: top;
  color: #04a343;
}
@media (max-width: 550px) {
  .cid-qK7SCEtyUb .price-figure {
    font-size: 4.25rem;
  }
}
.cid-qK7SCEtyUb .plan-title {
  color: #073b4c;
}
.cid-qK7SCEtyUb LI {
  color: #810d0d;
}
.cid-qK7SCEtyUb DIV {
  color: #810d0d;
}
.cid-qK7SCEtyUb UL {
  text-align: left;
}
.cid-qK7SCEtyUb .price-term {
  color: #04a343;
}
.cid-qK7SCEtyUb SPAN {
  color: #04a343;
}
.cid-qK836A3Y4M {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-qK836A3Y4M .line {
  background-color: #a7604c;
  color: #a7604c;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-qK836A3Y4M .section-text {
  padding: 2rem 0;
}
.cid-qK836A3Y4M .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-qK836A3Y4M .inner-container {
    width: 100% !important;
  }
}
.cid-qK82YU7yoq {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qK82YU7yoq .counter-container {
  color: #767676;
}
.cid-qK82YU7yoq .counter-container ul {
  margin-bottom: 0;
}
.cid-qK82YU7yoq .counter-container ul li {
  margin-bottom: 1rem;
}
.cid-qK82YU7yoq .mbr-text UL {
  color: #050505;
}
.cid-qK8f6S0EWH {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-qK8f6S0EWH .media-container-row .mbr-text {
  color: #050505;
  text-align: right;
}
.cid-qK8e11IxgO {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qK8e11IxgO .title {
  margin-bottom: 2rem;
}
.cid-qK8e11IxgO .mbr-section-subtitle {
  color: #767676;
}
.cid-qK8e11IxgO a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-qK8e11IxgO a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-qK8e11IxgO .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-qK8e11IxgO .input-group-btn {
  display: block;
  text-align: center;
}
.cid-qK8beakeV6 {
  padding-top: 30px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/calc-2-2000x1500.jpg");
}
.cid-qK8beakeV6 .row-links {
  width: 100%;
  justify-content: center;
}
.cid-qK8beakeV6 .social-row {
  width: 100%;
  justify-content: center;
}
.cid-qK8beakeV6 .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-qK8beakeV6 .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-qK8beakeV6 .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-qK8beakeV6 .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-qK8beakeV6 .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qK8beakeV6 .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-qK8beakeV6 .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qK8beakeV6 .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qK8beakeV6 .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qK8beakeV6 .media-container-row .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qK8beakeV6 .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-qK8beakeV6 .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-qK8beakeV6 .media-container-row .mbr-text {
  color: #767373;
}
